body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.landing-header {
    background: #fff; 
    color: #000000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid #333; 
}

.landing-header .title {
    font-size: 36px;
    width: 50%;
    font-family: 'Arial', sans-serif;
    color: #000000;
}

.landing-header .subtitle {
    font-size: 24px;
    width: 50%;
    font-family: 'Verdana', sans-serif;
    color: #333; 
}

.landing-header .btn {
    background:yellow;
    color: #fff;
    position: relative;top: 70px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.landing-header #landing-image {
    width: 50%;
}

.landing-header #landing-image img {
    max-width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

#images {
    background: #000; 
    color: #fff; 
    padding: 20px;
}

.work-title {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #fff;
    background-color: #333; 
    padding: 10px;
}

.image-container {
    margin: 20px 0;
    text-align: center;
}

.image-container img {
    max-width: 100%;
}

.caption {
    text-align: center;
}

.caption-title {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

.caption-text {
    font-size: 14px;
}

.carousel-img {
    text-align: center;
}

.scrolling-container {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    justify-content: space-between;
}

.image-scroll {
    flex: 0 0 auto;
    max-width: 200px;
    text-align: center;
    margin: 0 10px;
}

.image-scroll img {
    max-width: 100%;
}

.image-scroll .caption {
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-title {
    font-size: 24px;
    color: #fff;
    margin: 10px 0;
}